<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sanjeev.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/juno"
        android:label="Juno"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".ques1_activity" />
        <activity android:name=".ques2_activity" />
        <activity android:name=".ques3_activity" />
        <activity android:name=".ques4_activity" />
        <activity android:name=".ques5_activity" />
        <activity android:name=".ques6_activity" />
        <activity android:name=".ques7_activity" />
        <activity android:name=".ques8_activity" />
        <activity android:name=".ques9_activity" />
        <activity android:name=".ques10_activity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".final_activity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".PhoneLoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScoreCardActivity"
            android:parentActivityName=".ques1_activity" />
        <activity android:name=".SettingsActivity"
            android:parentActivityName=".ques1_activity"></activity>
    </application>

</manifest>